/* -----------------------------------*/
/* ---------->>> file sobre <<<-----------*/
/* -----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bkgSobre.jpg);
    color: #fff;
    
}

ul,li{
    margin: 10px 0 0 10px;
}
/* --------------id---------------------*/
#t-foot{
    font-size: 40px;
}

/* ----------------classes-------------------*/
.en-ct img {
    font-size: 15px;
    color: #fff;
    width: 30px;
    margin-right: 10px;
  }
  

.container{
    max-width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 0 50px 0 50px;
}

.en-ct{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 10px 10px 20px 10px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }



.cont{
    margin: 20px;
    width: auto;
    flex-wrap: wrap;
    
}








    
