html,
body{
    height: 100%;
    overflow-x: hidden;
}

nav.navbar-transparent, footer {
    background: rgba(0, 0, 0, 0.6);
}

.t-height{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,3)), url(../img/computer-1245714_1920.jpg),
    no-repeat center center fixed;
    background-size: 100%;
    color: white;
    
}

.navbar-nav .nav-item .nav-link, .title1{
    color: white;
}

.navbar-nav .nav-item .nav-link:hover{
    text-decoration: underline;
    
}


h1,h3{
    font-weight: 300;
    
}


.contact{
    margin: 40px auto;
}

.ct{
    font-size: 1.25em;
}

.card{
    transition: .5s;
}

.card-img-top, .card:hover{
    background: rgba(0, 0, 0, .6);
}

.card-img-top{
    width: 100%;
    height: 100%;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

.im{
    width: 20%;
}



/*Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
    h1{
        font-size: 1.9em;
    }

    h3{
        font-size: 1.2em;
    }

    .contact{
        margin: 10px auto;
    }

    .col-md-6 .abt{

        letter-spacing: -0.05em;
    }

    .col-md-4{
        margin: 7px 0;
    }

    .title1{
        margin: 15px 0;
    }

    .t-height{
        height: 90%;
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,3)), url(../img/computer-bk-mobil.jpg),
        no-repeat center center fixed;
        background-size: cover;
        color: white;
    }

}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 2em;
    }

}

/*Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 3em;
    }
    .ct{
        font-size: 1.2em;
    }

}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 4em;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    h1{
        font-size: 5em;
    }

    h3{
        font-size: 2em;
    }

    .nav-link{
        font-size: 1.1em;
    }

    .text-justify{
        font-size: 3.4em;
    }

    .ct{
        font-size: 1.4em;
    }

    .col-md-6 .abt{
        font-size: 1.4em;
        letter-spacing: -0.05em;
    }

    .col-md-3 .fab i{
        width: 70px;
    }
}